@{
    Layout = "default";
    Title = "Tomasz Jaskula's blog";
    Description = "Writing about F#, software architecture, craftsmanship and Domain Driven Design";
}
@using System.Linq

@foreach (var post in Enumerable.Take(Model.Posts, 10))
{
    <a href="blog/@post.Url/index.html">@post.Title</a>
}