@{
    Layout = "default";
    Title = "Tomasz Jaskula's blog";
    Description = "Writing about F#, software architecture, craftsmanship and Domain Driven Design";
}

<article class="post">

    <h2>Typography</h2>
    <div class="bs-callout bs-callout-info">
        <h4>Info callout</h4>
        <p>Here write some informational text</p>
    </div>
    <div class="bs-callout bs-callout-warning">
        <h4>Warning callout</h4>
        <p>Here write some warning text</p>
    </div>
    <div class="bs-callout bs-callout-danger">
        <h4>Danger callout</h4>
        <p>Here write some danger text</p>
    </div>
    <div class="bs-callout bs-callout-success">
        <h4>Success callout</h4>
        <p>Here write some seccess text</p>
    </div>
    <p>This is normal text and below is example block placed</p>
    <div class="bs-example">
        <p>You can use the mark tag to <mark>highlight</mark> text.</p>
    </div>
    <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
    <div class="highlight"><pre><code class="language-html" data-lang="html">You can use the mark tag to <span class="nt">&lt;mark&gt;</span>highlight<span class="nt">&lt;/mark&gt;</span> text.</code></pre></div>



</article>
